body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: Darkgreen;
}

#container {
  width: 60%;
  margin: auto;
}

h1,
h2,
h4 {
  color: Goldenrod;
  font-weight: 100;
  text-transform: uppercase;
}

h1 {
  font-size: 300%;
}

img {
  width: 100%;
}

footer {
  margin-top: 70px;
  background-color: Goldenrod;
  color: white;
}

footer p {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 768px) {
  #container {
    width: 90%;
    margin: auto;
  }
  h1 {
    font-size: 200%;
  }
}
